@import './components/variables';

.bodyContainer{
    margin-top: 100px;
    overflow-x: hidden;
    position: relative;
    
}
.navbar_container{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: $primary-orange;
    flex-direction: row;
    align-items: center;
    color: $primary-white;
    justify-content: flex-start;
    position: fixed;
    top:0;
    padding: 2%;
    z-index: 50;
    
    .menuButton{
        background-color: transparent;
        border: none;
        // border-radius: 3px;
        color: $primary-white;
        display: none;
        justify-content: center;
        align-items: center;
        height: 30%;
        font-size: 2rem;
        cursor: pointer;
        
    }
    .logo_container{
        display: flex;
         flex-direction: column;
         align-items: center;
        //  min-width: 80px;
         margin: 30px 0;
        //  width: 20vw;
         cursor: pointer;
        // flex:1;
       
         .logo_first{
            font-family: $logo-primary-font-family;
            font-size: $font-size-xl;
            height: fit-content;
            margin-bottom: -15px;
            color: $primary-grey
        }
        .logo_second{
            font-family: $logo-secondary-font-family;
            font-size: $font-size-sm;
        }
    }
    .links_container{
        display: flex;
        justify-content: space-around;
        gap: $base-gap;
        margin: auto $base-margin;
        flex:1;
        position: relative;
        .links{
            font-family: $navbar-font-family;
            font-size: calc(12px + 0.5vw); 
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            
            &::before{
                content: "";
                position: absolute;
                width: 0%;
                bottom:-20%;
                left:0;
                height: 6px;
                transition: all 0.2s;
                background-color: $primary-white;
               
            }
            &:hover::before{
                width:100%;
                
            }
        }
    }
    .email_container{
        
        display: flex;
        align-self: flex-start;
        justify-self: flex-end;
        align-items: flex-end;
        // gap: 0.5em;
        // justify-content: flex-end;
        margin:$base-margin*0.5;
        
        display: flex;
        flex-direction: column;
        .email{
            background-color: rgba($primary-white, 30%);
            height: 1.5em;
            width: 170px;
            font-size: 0.8em;
            color: $primary-blue;
            border-radius: 1em;
            display: flex;
            
        justify-content: center;
        align-items: center;
        }
    }
}

@media only screen and (max-width:677px) {
    .bodyContainer{
        margin-top: 70px !important;
    }
    .navbar_container{
        justify-content: flex-start;
        gap:3% ;
        padding: 3%;
        height: 70px;
        // padding: 2%;
        // height: 8%;
        .menuButton{
            background-color: transparent;
            border: none;
            padding:0;
            // border-radius: 3px;
            color: $primary-white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30%;
            font-size: 2rem;
            cursor: pointer;
            
            
        }
        .email_container{
            flex:1;
            // align-self: flex-start;
            margin-top: 0 !important;
        }
    }
    .logo_first{
        // font-family: $logo-primary-font-family;
        font-size: $font-size-xl*0.7 !important;
        height: fit-content;
        margin-bottom: -25*0.4px !important;
        color: $primary-grey
    }
    .logo_second{
        font-family: $logo-secondary-font-family;
        font-size: $font-size-sm*0.7 !important;
    }
      .links_container{
        display: none !important;
        .links{
            display: none !important;
        }
      }     
}
@media only screen and (max-width:360px) {
    .email_container{

        // margin-left: 0 !important;
        .email{
            font-size: 3vw !important;
            width: 40vw !important;
        }
    }
}