@import './components/variables';




    .links_container{
        display: flex;
        flex-direction: column;
        top:70px;
        left: 0;
        padding: 1rem;
        position: absolute;
        gap:1rem;
         background-color: $primary-orange;
        .links{
            font-family: $navbar-font-family;
            font-size: $font-size-sm; 
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            width: fit-content;
            
            &::before{
                content: "";
                position: absolute;
                width: 0%;
                bottom:0%;
                left:0;
                height: 6px;
                transition: all 0.2s;
                background-color: $primary-white;
               
            }
            &:hover::before{
                width:100%;
                
            }
        }
    }
    