@import "./components/variables";
@import "./components/text";
@import "./components/contentFormat";
@import './components/button';

.project_detail_container{
    color: $primary-grey;
    padding: 3%;
    gap:3%;

    .title_container{
        display: flex;
        flex-direction: row;
        gap:3%;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .subtitle{
            height: fit-content;
            margin-top: auto;
            margin-bottom: 4px;
        }
    }
    .projInfoBox{
        padding:1%;
        color: mix($primary-purple, $primary-grey, 10);
        margin-left: auto;
        width: fit-content;
        font-size: 12px;
        // display: flex;
        .tableRow{
            display: flex;
            gap:0.5rem;

            .tableHead{
                flex:1;
            }
            .tableContent{
                flex:1
            }
        }
        
    }
    .mainphoto_container{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .outline_container{
        padding: 1rem;
        .info_container{
            .descriptNplayer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .player_wrapper{
                    width: 100%;
                    max-width: 800px;
                    height: 80%;
                
                }
                // .descriptWrapper{
                //     max-width: 40rem;
                // }
            }
            .contribution_container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap:3%;
                .first_column{
                    flex:1 1 400px;

                    // align-items: center;
                    .photo_container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .second_column{
                    flex:1 1 400px;

                    .percentageBar_container{
                        height:3rem;
                    }
                }
            }
        }
    }
}
.label{
    font-family: $header-font-family;
    margin-top: 0;
}