@import "./components/variables";
@import "./components/text";
@import "./components/contentFormat";

.project_detail_container{
    color: $primary-grey;
    padding: 3%;
    gap:3%;

    .title_container{
        display: flex;
        flex-direction: row;
        gap:3%;
        width: 100%;
        flex-wrap: wrap;
        .subtitle{
            height: fit-content;
            margin-top: auto;
            margin-bottom: 4px;
        }
    }
    .outline_container{
        .info_container{
            .contribution_container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap:3%;
                .first_column{
                    flex:1 1 400px;

                    // align-items: center;
                    .photo_container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .second_column{
                    flex:1 1 400px;

                    .percentageBar_container{
                        height:3rem;
                    }
                }
            }
        }
    }
}
.label{
    font-family: $header-font-family;
    margin-top: 0;
}