@import "./components/variables";
@import "./components/text";
@import "./components/contentFormat";
@import './components/button';

.project_detail_container{
    color: $primary-grey;
    padding: 3%;
    gap:3%;

    .title_container{
        display: flex;
        flex-direction: row;
        gap:3%;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .subtitle{
            height: fit-content;
            margin-top: auto;
            margin-bottom: 4px;
        }
    }
    .projInfoBox{
        padding:1%;
        color: mix($primary-purple, $primary-grey, 10);
        margin-left: auto;
        width: fit-content;
        font-size: 12px;
        // display: flex;
        .tableRow{
            display: flex;
            gap:0.5rem;

            .tableHead{
                flex:1;
            }
            .tableContent{
                flex:1
            }
        }
        
    }
    .mainphoto_container{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .outline_container{
        padding: 1rem;
        .info_container{
            .descriptNplayer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .player_wrapper{
                    width: 100%;
                    max-width: 800px;
                    height: 80%;
                
                }
              
            }
            .contribution_container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                gap:0.5rem;
                .contribution_column{
                    flex:1 1 400px;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    // align-items: center;
                    .photo_container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .percentageBar_container{
                        height:3rem;
                    }
                }
                // .second_column{
                //     flex:1 1 400px;

                    
                // }
            }
        }
    }
}
.label{
    font-family: $header-font-family;
    margin-top: 0;
}
.background_blue{
    @extend .slide_background;
   color: $primary-white;
   background-color: $primary-blue;
   .contents_tilted{
    display: flex;
    flex-direction: column;
    gap:5rem;

    .content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:1rem;
        justify-content: center;

        .text_area{

            flex:1 1 300px;
            display: flex;
            flex-direction: column;
            gap:1rem;
            .text_container{
                justify-self: center;
                align-self: center;
                margin-top: auto;
                margin-bottom: auto;
                max-width: 400px;
                .text{
                    padding-bottom: 1rem;
                }
            }
            .content_headline{
                font-size: 1.7rem;
                font-weight: 600;
            }
        }
        .photo_area{
            width: 400px;
            // height: 300px;
            // align-self: center;
            // justify-self: center;
        }

    }
   }
   
}